<ion-view title="Cadastrar Evento" id="page10">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <button id="cadastrarEvento-button18" class="button button-dark button-block">Imagem do Evento</button>
    <form id="cadastrarEvento-form1" class="list">
      <label class="item item-input item-stacked-label" id="cadastrarEvento-input3">
        <span class="input-label">Nome do Evento</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarEvento-input1">
        <span class="input-label">Subtítulo</span>
        <input type="text" placeholder="Descrição do evento 140 caracteres">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarEvento-input2">
        <span class="input-label">Quero Ir</span>
        <input type="number" placeholder="Quantidade Pessoas para Realizar">
      </label>
      <label class="item item-input item-stacked-label" id="cadastrarEvento-input4">
        <span class="input-label">Descrição</span>
        <input type="number" placeholder="Descrição completa do Evento">
      </label>
    </form>
  </ion-content>
</ion-view>
