<ion-view title="Comprar" id="page3" style="background-color:#000000;">

  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <div  ng-repeat="(key, evento) in eventos">
      <a class="list card" style="display:block;text-decoration:none;background: #333;"
         ui-sref="tabsController.pGinaDoEvento()" id="comprar-card212">
        <div class=" item item-image" style="border: none;">

          <div style="width: 115px; height: 30px; background: #333; position: absolute; border-radius: 25px; left: 0;
                    top: 30px; right:0; margin-left:auto; margin-right:auto; color: #fff; font-size: 12px;
        ">
            Liberado.
          </div>
          <button class="button button-balanced"
                  style="position: absolute;top: 118px;right: 10px;min-width: 85px;min-height: 20px;line-height: 30px;">
            Comprar
          </button>
          <img src="{{evento.foto}}"
               style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div style="background-color:#333;height: 22PX;margin-bottom: 5px; ">

          <p style="color:#FFFFFF;margin: 5px;">{{evento.titulo}}</p>

        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
