<ion-view title="Histórico de Tickets" id="page9" style="background-color:#000000;">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="histRicoDeTickets-list7">
      <ion-item class="item-thumbnail-left dark" id="histRicoDeTickets-list-item31">
        <img src="img/L0XoDTEvSzKFUeySKVaZ_Site-img5.jpg">
        <h2dark>Nome do Evento
          <p>R$ 32,00</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRicoDeTickets-list-item35">
        <img src="img/FKJ2Ve0PSL65l41fbxC4_Site-img1c.jpg">
        <h2>Nome do Evento</h2>
        <p>R$ 32,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRicoDeTickets-list-item36">
        <img src="img/uSWsAEyRFCTDesCMIIpg_Site-img2.jpg">
        <h2>Nome do Evento</h2>
        <p>R$ 32,00</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="histRicoDeTickets-list-item37">
        <img src="img/raOj0KwjQvSjn3ae36er_Site-img3.jpg">
        <h2>Nome do Evento</h2>
        <p>R$ 32,00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
