<ion-view title="Página do Evento" id="page8" style="background-color:#000000;">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="pGinaDoEvento-card24">
      <div class=" item item-image">
        <img src="img/RjjQfFjHRXCzuUDuXwjB_Site-img5.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button id="pGinaDoEvento-button11" style="font-weight:lighter;text-align:left;" class="button button-dark button-small button-block">Mário Sergio Cortella</button>
      <div class="item item-body" id="pGinaDoEvento-list-item-container4">
        <div id="pGinaDoEvento-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de
            tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem
            Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        </div>
      </div>
      <button id="pGinaDoEvento-button12" class="button button-balanced button-block">Comprar</button>
    </div>
  </ion-content>
</ion-view>
