<ion-view title="Principal" id="page18" style="background-color:#000000;">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a class="list card" style="display:block;text-decoration:none;background: #333;" ui-sref="tabsController.pGinaDoEvento()" id="comprar-card212">
      <div class=" item item-image" style="border: none;">
        <img src="img/ITgmYr2UR4yuDL6EC9rE_comprar.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div style="background-color:#333;height: 22PX;margin-bottom: 5px; ">

        <p style="color:#FFFFFF;margin: 5px;">Maratona - Quero ver quem me pega !</p>

      </div>
    </a>
  </ion-content>
</ion-view>
