<ion-view title="Sobre Nós" id="page11" style="background-color:#000000;">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="sobreNS-card28">
      <div class=" item item-image" style="margin-left: -10px; width: calc(100% + 20px);">
        <img src="img/Mq8LZcE4TPeYWH9WLr78_CapaFB-PAGE_DOOS.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <button style="text-align:left;" class="button button-dark button-block  icon-right ion-ios-email">
        <img src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png" style="width: 30px; height:auto;">
      </button>
      <div class="item item-body" id="sobreNS-list-item-container6">
        <div id="sobreNS-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de
            tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo passagens de Lorem
            Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        </div>
      </div>
      <ion-item class="item-icon-left" id="sobreNS-list-item13">
        <i class="icon ion-ios-email"></i>contato@doos.com.br</ion-item>
      <ion-item class="item-icon-left" id="sobreNS-list-item28">
        <i class="icon ion-ios-telephone"></i>61 5555-5555</ion-item>
      <ion-item class="item-icon-left" id="sobreNS-list-item30">
        <i class="icon ion-ios-location"></i>Asa Sul</ion-item>
      <button id="sobreNS-button17" class="button button-dark button-block icon-left ion-android-chat">Abrir chat de Suporte</button>
    </div>
  </ion-content>
</ion-view>
