<ion-view id="page1">
  <ion-tabs class="tabs-dark tabs-icon-left" id="tabsController-tabs1">
    <ion-tab title="" class="tabs tabs-item-hide" icon="ion-android-home"  href="#/tabs/principal" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Quero Ir" icon="No Icon" href="#/tabs/queroir" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comprar" icon="No Icon" href="#/tabs/comprar" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>
