<ion-view title="Termos e Condições de Uso" id="page14" style="background-color:#000000;">
  <ion-nav-title>
    <img class="title-image" src="img/f93r72m5Rcudl8p1XBE1_AppleIpadRetina-IphoneIcon-144X144px-13.png"  style="width: 46px;">
  </ion-nav-title>
  <ion-nav-buttons side="left" class="has-header">
    <a ui-sref="tabsController.principal()" class="button button-icon icon ion-android-home"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="termosECondiEsDeUso-list8">
      <div class="item item-body" id="termosECondiEsDeUso-list-item-container7">
        <div id="termosECondiEsDeUso-markdown8" style="text-align:justify;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">O que é Lorem Ipsum? Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer
            um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado. Se popularizou na década de 60, quando a Letraset lançou decalques contendo
            passagens de Lorem Ipsum, e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
